@page "/"

<PageTitle>Index</PageTitle>

<h1>Identity Manager - Blazor Server demo</h1>

This app lets you manage users and roles using the Identity Manager class library.
The identity database can then be used for auth in another ASP.NET application. 
<br/>
<br/>
To test the auth with the users and roles you create here, run the 
AuthDemo project in this solution.


